<div class="container mt-4">
  <h2>Buscar Filmes e Séries</h2>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Digite o título do filme ou série..."
      [(ngModel)]="searchTitle"
    />
    <button class="btn btn-primary" (click)="search()">Buscar</button>
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div class="row">
    <div *ngFor="let movie of movies" class="col-md-3 mb-3">
      <div class="card">
        <img [src]="movie.Poster" class="card-img-top" alt="{{ movie.Title }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">{{ movie.Year }}</p>
          <button
            class="btn btn-warning"
            (click)="toggleFavorite(movie)"
          >
            {{ isFavorite(movie) ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
          </button>
          <button
            class="btn btn-primary"
            (click)="showDetails(movie)"
          >
            Ver Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup de detalhes -->
  <div
    class="details-popup"
    *ngIf="hoveredMovie"
    (mouseleave)="hideDetails()"
  >
    <h3>{{ hoveredMovie.Title }}</h3>
    <img [src]="hoveredMovie.Poster" alt="{{ hoveredMovie.Title }}" />
    <p><strong>Ano:</strong> {{ hoveredMovie.Year }}</p>
    <p><strong>Data de Lançamento:</strong> {{ hoveredMovie.Released}}</p>
    <p><strong>Classificação:</strong> {{ hoveredMovie.Rated }}</p>
    <p><strong>Tempo de Duração</strong> {{ hoveredMovie.Runtime}}</p>
    <p><strong>Atores:</strong> {{ hoveredMovie.Actors}}</p>
    <p><strong>Sinopse:</strong> {{ hoveredMovie.Plot }}</p>
    <p><strong>Diretor:</strong> {{ hoveredMovie.Director }}</p>
    <p><strong>Gênero:</strong> {{ hoveredMovie.Genre }}</p>
  </div>
</div>
